:root {

    --dark: #262C3A;
    --color-white: #fff;
    --color-black: #000;
    --color-dark-gray: #10100e;
    --color-yelllow: #ffff00;

    --border-radius-small: 3px;
    --spacing-medium: 20px;
    --font-family-main: sans-serif;
    --font-size-header: 26px;
}


body {
    background-color: var(--dark);
    margin: 0;
    padding: 0;
    font-family: var(--font-family-main)
}